body { 
	color: black;
	font-size: small;
	font-family: Arial, sans-serif;
	background-color: white;
}

a {	
	color: darkblue;
}

a:visited {	
	color: darkblue; 
}

.gwt-DialogBox {
}

.gwt-DialogBox .Caption {
}

.gwt-MenuBar {
	background-color: #C3D9FF;
	cursor: default;
}

.gwt-MenuItem {
	font-size: 80%;
	margin: 1px;
	cursor: default;
}

.gwt-MenuItem-selected {
	background-color: #E8EEF7;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
	font-size: 80%;
	cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #C3D9FF;
}

.gwt-StackPanel {
	background-color: white;
	border: 1px solid #AAAAAA;
	width: 15em;
}

.gwt-StackPanel .gwt-StackPanelItem {
	background-image: url(blue_gradient.gif);
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	cursor: pointer;
	cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

.gwt-TabPanel {
  margin: 10px 10px 0px 0px !important;
  border: #A60C00 !important;
}

.gwt-TabPanelBottom { 
	border-radius: 5px !important; 
	border: 5px solid !important;
	border-color: #A60C00 !important; 
} 

.gwt-TabBar {
}

.gwt-TabBarItem {
	color: White !important;
	font-size: 14px !important;
	font-family: sans-serif !important;
	font-weight: bold !important;
	cursor: pointer !important;
	background-color: #BF3A30 !important;
	margin-right: 2px !important;
	border-top-left-radius:5px !important;
	border-top-right-radius:5px !important;
}

.gwt-TabBarItem-selected {
  	color: White !important;
	font-size: 14px !important;
	font-family: sans-serif !important;
	font-weight: bolder !important;
	background-color: #A60C00 !important;
	border-top-left-radius:5px !important;
	border-top-right-radius:5px !important;
	cursor: default !important;
}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {

}

.gwt-HorizontalSplitPanel .splitter {
	background-color: #C3D9FF;
	cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-VerticalSplitPanel .splitter {
	background-color: #C3D9FF;
	height: 8px;
	cursor: move;
}

.gwt-SuggestBoxPopup {
	border: 2px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #C3D9FF;
	padding: 2px;
}

.gwt-DisclosurePanel {
	border: 2px solid #C3D9FF;
}

.gwt-DisclosurePanel .header {
	background-color: #e8eef7;
	cursor: hand;
}
.gwt-Label-Login {
	color: Navy;
	font-size: 14px;
	font-style: normal;
	font-family: Arial;
	font-weight: bold;
}
.gwt-CheckBox-Login {
	color: Red;
	font-family: Arial;
}
.gwt-Label-Error {
	color: White;
	padding: 5px;
	font-weight: bold;
	text-align: center;
	background-color: Red;
}
.gwt-DecoratorPanel-Login {
	background-color: khaki;
}
.gwt-Label-User {
	font-size: larger;
	font-weight: bold;
}
.gwt-DecoratorPanel-SignUp {
	background-color: Aqua;
}
.gwt-border {

}
.gwt-Button-LeftMargin {
	margin-left: 20px;
}
.gwt-Label-grey {
	color: Black;
}
.gwt-Label-bold {
	color: #9D5C19;
	font-variant: small-caps;
	font-weight: bold;
}
.promptText {
    color: #999;
}
.gwt-DecoratorPanel-newComment {
	background-color: #FFCF73;
}
.gwt-DecoratorPanel-white {
	color: black;
	margin: 5px;
	font-size: small;
	font-family: Arial, sans-serif;
	background-color: white;
}
.menuitem {
	background-color: #FF7940;
}
.menuitem:HOVER {
	background-color: #D04103;
	cursor: pointer;
}
.whatever {
	color: White;
	font-variant: small-caps;
	font-size: 36px;
	font-style: normal;
	font-family: monospace;
	font-weight: 900;
}
.ADCBasic {
	color: White;
	border: 10px solid;
	border-radius: 25px;
	font-size: 36px;
	font-family: cursive;
	font-weight: 600;
	line-height: normal;
	background-color: #FFA240;
	border-color:#A65500;
}
.ADCTextbox {
	border: 2px solid;
	border-color: #A65500;
	border-radius:15px;
}
.ADCButton {
	color: White;
	font-size: 14px;
	border-radius:15px;
	font-family: Arial Black;
	background-color: #BF5B30;
}
.CSLabel {
	color: White;
	font-family: Arial Black;
	background-color: #ffaa00;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}
.CSListbox {
	border: 5px solid;
	font-family: Arial Black;
	border-color: #ffbf40;
	border-radius:5px;
}
.Login {
	background-image: url('Background.jpg');
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position: center, 60px;
	
}
.LoginTitle {
	image: url('Background.jpg');
}
.LoginBox {
	
}
.LoginPanel {
	position: center, center;
}
.LoginButton {
	color: White;
	font-size: 14px;
	font-family: Arial Black;
	background-color: darkgrey;
}
.MenuPopUp {
	border: 2px solid #A63100;
	font-family: Arial Black;
	background-color: #FF7940;
	border-radius: 5px;
}
.NewPostBackground {
	border: 8px solid #FFAA00;
	font-size: 15pt;
	font-family: Arial Black;
	background-color: #FFD073;
	border-radius:5px;
}
.NewPostBottomLine {
	border-top: 2px ridge;
	border-top-color: #FFAA00;
}
.NewPostToolBar {
	border: 2px solid;
	border-color: #FFAA00;
	border-radius:5px;
	background-color:#FFAA00;
}
.NewPostBackLabel {
	font-size: 13px;
	font-family: Arial Black;
	color: black;
}
.NewUserDialogTitle {
	color: White;
	font-variant: small-caps;
	font-size: 36px;
	font-style: normal;
	font-family: Arial Black;
	font-weight: 900
}
.profileSearchbox {
	color: Silver;
	border: 2px solid;
	border-color: #ffbf40;
	border-radius:15px;
}
.profilePanel {
	color: white;
	border: 10px solid #A66D00;
	border-radius:25px;
	font-size: 36px;
	font-family: sans-serif;
	font-weight: 600;
	line-height: normal;
	background-color: #FFCF73;
}
.newUserDialogTitle {
	color: White;
	font-size: 36px;
	font-style: normal;
	font-family: cursive;
	font-weight: 900;
}
.CommentBox {
		border-bottom: 2px ridge;
		border-bottom-color: #FFAA00;
}
.CommentBoxBackground {
	font-family: Arial;
	background-color: #FFCF73;
}
.UserPostBackround {
	font-family: Arial Black;
	background-color: #FF6140;
}
.profileMainPanel {
	color: White;
	border-top: 10px ridge;
	font-size: 36px;
	font-family: cursive;
	font-weight: 600;
	line-height: normal;
	background-color: #FDDC9F;
	border-top-color:#A65500;
}
.profilePic {
	border-right: 10px ridge;
	border-bottom: 10px ridge;
	border-right-color: #A65500;
	border-bottom-color:#A65500;
}
.profileTablPanel {
padding: 0px 0px 6px 6px;
}
.Mainview {
	border : 2px ridge;
	border-color: #FFAA00;
	border-radius: 5px;
}
.postSpaceTitle {
	color: #F17D4C;
	font-stretch: normal;
	font-variant: normal;
	font-size: 18px;
	font-style: normal;
	font-family: Arial Black;
	font-weight: bold;
}
.CommentSeperator {
	color: Black;
	font-size: 14px;
	font-family: Arial;
	font-weight: normal;
	border-bottom: 2px ridge #FFAA00;
}
.PostComment {
	font-family:Arial;
	font-size: 14px;
	color: Black;
	padding-left: 6px;
}
.userpostcomment {
	color: black;
	padding-left: 6px;
	font-size: 16px;
	font-family: Calibri;
	font-weight: normal;
}
.CommentPanelbackcolor {
	background-color: #FFCF73;
}
.USername {
	color: Black;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	font-size: 14px;
	font-style: normal;
	font-family: cursive;
	font-weight: bold;
}
.logout {
	backgournd-color:;
	Color:Red;
	font: cursive;
	size: 12;
	font-size: 12px;
	font-family: cursive;
	
}
. {
}
.gwt-TabLayoutPanelTab { 

}
.Anchor {
	font-size: 14px;
	font-family: cursive;
	font-weight: bold;
	background-color: #FFBD40;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
.courseAnchor {
	margin-right: 10px;
	font-size: 14px;
	font-family: cursive;
	font-weight: bold;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs 
{
	background: none !important;
}
.ADCButton-addRemoveClasses {
	color: White;
	margin-top: 10px;
	border-radius:15px;
	font-size: 14px;
	font-family: Arial Black;
	background-color: #BF5B30;
}
.expandCloseLink {
	-webkit-transition: color .218s;
	transition: color .218s;
	color: #262626;
	font-size: 12px;
	font-weight: normal;
	padding-right: 5px;
	text-transform: none;
}
.expandCloseLink:HOVER {
	color: #427fed;
	cursor: pointer;
	text-decoration:underline;
	
}
.whatever-small {
	color: White;
	font-variant: small-caps;
	font-size: 24px;
	font-style: normal;
	font-family: monospace;
	font-weight: 900;
}
.gwt-Label-grey-bold {
	color: Gray;
	margin-left: 10px;
	font-style: italic;
	font-weight: bold;
}
.plusOneButton {
	cursor: pointer;
	margin-left: 10px;
	height: 13px;
	width: 21px;
}
.dialog-padding {
	padding: 10px;
}
.change-profile-image {
	font-weight: bold;
	text-align: center;
	background-color: White;
}
.bold-black {
	font-weight: bold;
}
.largerText {
	font-size: x-large;
	font-weight: lighter;
}
.storyPanel {
	border-top: inset;
	border-width: 5px;
	border-color: red;
	background-color: white;
	margin-left: 20px;
}
.profileBackground {
	background-color: #FDDC9F;
}
.educationPanel {
	border-top: inset;
	border-width: 5px;
	border-color: orange;
	background-color: white;
}
.basicInfoPanel {
	border-top: inset;
	border-width: 5px;
	border-color: blue;
	background-color: white;
}
.contactInfoPanel {
	border-top: inset;
	border-width: 5px;
	border-color: violet;
	background-color: white;
	margin-left: 20px;
}
.profileTabPanel .gwt-TabPanel {
	margin: none !important;
}
.successLabel {
	color: green;
	font-style: italic;
	float: right;
	margin-right: 5px;
}
.errorLabel {
	color: red;
	font-style: italic;
	float: right;
	margin-right: 5px;
}
.profileUserLabel {
	font-weight: bold;
	font-size: larger;
	margin-left: 10px;
	margin-right: 10px;
}
.trophyCase {
	border: 2px ridge;
	margin-left: 10px;
}
