<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>UserService</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.UserServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetPostsServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.GetPostsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadCommentServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.UploadCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditCommentServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.EditCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCommentServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.DeleteCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadPostServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.UploadPostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ValidateEmailServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.ValidateEmailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PasswordResetServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.PasswordResetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageUploadServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.ImageUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadSuccessServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.UploadSuccessServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditPostServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.EditPostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletePostServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.DeletePostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PlusOneServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.PlusOneServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateUserServlet</servlet-name>
		<servlet-class>com.cs1530.group4.addendum.server.CreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserService</servlet-name>
		<url-pattern>/addendum/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/addendum/getImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPostsServlet</servlet-name>
		<url-pattern>/addendum/getPosts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/addendum/doLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadCommentServlet</servlet-name>
		<url-pattern>/addendum/uploadComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCommentServlet</servlet-name>
		<url-pattern>/addendum/editComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCommentServlet</servlet-name>
		<url-pattern>/addendum/deleteComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadPostServlet</servlet-name>
		<url-pattern>/addendum/uploadPost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateEmailServlet</servlet-name>
		<url-pattern>/addendum/validate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PasswordResetServlet</servlet-name>
		<url-pattern>/addendum/passwordReset</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageUploadServlet</servlet-name>
		<url-pattern>/addendum/imageUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadSuccessServlet</servlet-name>
		<url-pattern>/addendum/uploadSuccess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditPostServlet</servlet-name>
		<url-pattern>/addendum/editPost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePostServlet</servlet-name>
		<url-pattern>/addendum/deletePost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlusOneServlet</servlet-name>
		<url-pattern>/addendum/plusOne</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUserServlet</servlet-name>
		<url-pattern>/addendum/createUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>*.gupld</url-pattern>
	</servlet-mapping>

	<context-param>
		<!-- max size of the upload request -->
		<param-name>maxSize</param-name>
		<param-value>3145728</param-value>
	</context-param>
	<context-param>
		<!-- Useful in development mode to slow down the uploads in fast networks. 
			Put the number of milliseconds to sleep in each block received in the server. 
			false or 0, means don't use slow uploads -->
		<param-name>slowUploads</param-name>
		<param-value>200</param-value>
	</context-param>

	<security-constraint>
		<web-resource-collection>
			 <web-resource-name>Protected Area</web-resource-name> 
             <url-pattern>/*</url-pattern> 
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

</web-app>
